@use 'variables';

footer {
  background-color: variables.$color-negro;
  padding: 2rem;

  color: variables.$color-fucsia;
  text-transform: uppercase;
  text-align: center;
 
.parrafoFooter {
  color: variables.$color-fucsia;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1rem;
}
 
  a[href^="mailto:"] {
    color: variables.$color-fucsia !important;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .redesSociales {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }

  .iconoRedSocial {
    width: 50px;
    height: auto;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}
