@use "variables" as *;

main {
  padding: 2rem;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 2rem 0;
}

.galeria img {
  width: 100%;
  height: auto;
  border-radius: $radio-borde;
  box-shadow: $sombra;
  transition: transform 0.3s ease;
}

.galeria img:hover {
  transform: scale(1.05);
}
