// Paleta de Colores Bocannada
$color-fucsia: #f84ca2;
$color-amarillo: #fcee6e;
$color-azul-electrico: #24ccf3;
$color-azul-oscuro: #0d1b86;
$color-cian: #1a80c7;
$color-beige: rgba(245, 245, 220, 0.85);
$color-negro: #000;
$color-blanco: #fff;
$color-gris: #111;



// Tipografía
$fuente-principal: "Merriweather Sans", sans-serif;

//Tamaños 
$titulo-xl: 3rem;
$titulo-lg: 2rem;
$espaciado: 1.5rem;
$radio-borde: 10px;
$sombra: 0 0 10px rgba(0, 0, 0, 0.2);


